{
  "name": "kvartmaster.by",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/jquery-2.2.3.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/jquery.fancybox.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/script.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/slick.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js",
      "js/dist"
    ],
    "hideSystemFiles": true,
    "selectedPath": "js/slick.js",
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/global.scss",
      "imports": [
        "scss/src/_font.scss",
        "scss/src/_wordpress.scss",
        "scss/src/_bootstrap.scss",
        "scss/src/_jquery.fancybox.scss",
        "scss/src/_slick.scss",
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/_normalize.scss",
        "scss/src/bootstrap/_print.scss",
        "scss/src/bootstrap/_glyphicons.scss",
        "scss/src/bootstrap/_scaffolding.scss",
        "scss/src/bootstrap/_type.scss",
        "scss/src/bootstrap/_code.scss",
        "scss/src/bootstrap/_grid.scss",
        "scss/src/bootstrap/_tables.scss",
        "scss/src/bootstrap/_forms.scss",
        "scss/src/bootstrap/_buttons.scss",
        "scss/src/bootstrap/_component-animations.scss",
        "scss/src/bootstrap/_dropdowns.scss",
        "scss/src/bootstrap/_button-groups.scss",
        "scss/src/bootstrap/_input-groups.scss",
        "scss/src/bootstrap/_navs.scss",
        "scss/src/bootstrap/_navbar.scss",
        "scss/src/bootstrap/_breadcrumbs.scss",
        "scss/src/bootstrap/_pagination.scss",
        "scss/src/bootstrap/_pager.scss",
        "scss/src/bootstrap/_labels.scss",
        "scss/src/bootstrap/_badges.scss",
        "scss/src/bootstrap/_jumbotron.scss",
        "scss/src/bootstrap/_thumbnails.scss",
        "scss/src/bootstrap/_alerts.scss",
        "scss/src/bootstrap/_progress-bars.scss",
        "scss/src/bootstrap/_media.scss",
        "scss/src/bootstrap/_list-group.scss",
        "scss/src/bootstrap/_panels.scss",
        "scss/src/bootstrap/_responsive-embed.scss",
        "scss/src/bootstrap/_wells.scss",
        "scss/src/bootstrap/_close.scss",
        "scss/src/bootstrap/_modals.scss",
        "scss/src/bootstrap/_tooltip.scss",
        "scss/src/bootstrap/_popovers.scss",
        "scss/src/bootstrap/_carousel.scss",
        "scss/src/bootstrap/_utilities.scss",
        "scss/src/bootstrap/_responsive-utilities.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/style.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss"
      ]
    },
    {
      "path": "scss/src/_bootstrap.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/_normalize.scss",
        "scss/src/bootstrap/_print.scss",
        "scss/src/bootstrap/_glyphicons.scss",
        "scss/src/bootstrap/_scaffolding.scss",
        "scss/src/bootstrap/_type.scss",
        "scss/src/bootstrap/_code.scss",
        "scss/src/bootstrap/_grid.scss",
        "scss/src/bootstrap/_tables.scss",
        "scss/src/bootstrap/_forms.scss",
        "scss/src/bootstrap/_buttons.scss",
        "scss/src/bootstrap/_component-animations.scss",
        "scss/src/bootstrap/_dropdowns.scss",
        "scss/src/bootstrap/_button-groups.scss",
        "scss/src/bootstrap/_input-groups.scss",
        "scss/src/bootstrap/_navs.scss",
        "scss/src/bootstrap/_navbar.scss",
        "scss/src/bootstrap/_breadcrumbs.scss",
        "scss/src/bootstrap/_pagination.scss",
        "scss/src/bootstrap/_pager.scss",
        "scss/src/bootstrap/_labels.scss",
        "scss/src/bootstrap/_badges.scss",
        "scss/src/bootstrap/_jumbotron.scss",
        "scss/src/bootstrap/_thumbnails.scss",
        "scss/src/bootstrap/_alerts.scss",
        "scss/src/bootstrap/_progress-bars.scss",
        "scss/src/bootstrap/_media.scss",
        "scss/src/bootstrap/_list-group.scss",
        "scss/src/bootstrap/_panels.scss",
        "scss/src/bootstrap/_responsive-embed.scss",
        "scss/src/bootstrap/_wells.scss",
        "scss/src/bootstrap/_close.scss",
        "scss/src/bootstrap/_modals.scss",
        "scss/src/bootstrap/_tooltip.scss",
        "scss/src/bootstrap/_popovers.scss",
        "scss/src/bootstrap/_carousel.scss",
        "scss/src/bootstrap/_utilities.scss",
        "scss/src/bootstrap/_responsive-utilities.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/src/bootstrap/_mixins.scss",
      "imports": [
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/src/bootstrap/_theme.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://kvartmaster.by"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/public_html/wp-content/themes/webber_kvartmaster",
    "uploadTimeout": 30000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "ftp.kvartmaster.by",
      "port": 21,
      "user": "itmrlx@kvartmaster.by",
      "password": "89887898buba"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "node_modules",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store"
    ],
    "history": [
      {
        "file": "index.php",
        "ctime": "2016-11-16T06:56:02.000Z",
        "mtime": "2016-11-16T06:56:02.000Z",
        "size": 13899
      },
      {
        "file": "404.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:31.000Z",
        "size": 164
      },
      {
        "file": "author.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:31.000Z",
        "size": 0
      },
      {
        "file": "category.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:32.000Z",
        "size": 474
      },
      {
        "file": "comments.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:32.000Z",
        "size": 2314
      },
      {
        "file": "css/global.css",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:48:00.000Z",
        "size": 53045
      },
      {
        "file": "css/global.css.map",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-14T18:14:35.000Z",
        "size": 17842
      },
      {
        "file": "css/src/_font.css",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:48:01.000Z",
        "size": 3241
      },
      {
        "file": "css/src/_font.css.map",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-14T18:14:35.000Z",
        "size": 475
      },
      {
        "file": "css/src/bootstrap/_theme.css",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:48:02.000Z",
        "size": 15834
      },
      {
        "file": "css/src/bootstrap/_theme.css.map",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-14T18:14:36.000Z",
        "size": 2443
      },
      {
        "file": "css/style.css",
        "ctime": "2016-11-16T07:07:09.000Z",
        "mtime": "2016-11-16T07:07:09.000Z",
        "size": 14004
      },
      {
        "file": "css/style.css.map",
        "ctime": "2016-11-16T07:07:09.000Z",
        "mtime": "2016-11-16T07:07:09.000Z",
        "size": 7424
      },
      {
        "file": "fonts/opensans/opensans.css",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:46.000Z",
        "size": 2982
      },
      {
        "file": "fonts/opensans/opensans.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:47.000Z",
        "size": 52472
      },
      {
        "file": "fonts/opensans/opensans.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:46.000Z",
        "size": 31836
      },
      {
        "file": "fonts/opensans/opensans.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:47.000Z",
        "size": 24908
      },
      {
        "file": "fonts/opensans/opensansbold.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:47.000Z",
        "size": 54044
      },
      {
        "file": "fonts/opensans/opensansbold.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:48.000Z",
        "size": 31512
      },
      {
        "file": "fonts/opensans/opensansbold.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:48.000Z",
        "size": 24448
      },
      {
        "file": "fonts/opensans/opensansbolditalic.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:48.000Z",
        "size": 58552
      },
      {
        "file": "fonts/opensans/opensansbolditalic.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:49.000Z",
        "size": 34396
      },
      {
        "file": "fonts/opensans/opensansbolditalic.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:49.000Z",
        "size": 26832
      },
      {
        "file": "fonts/opensans/opensansextrabold.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:49.000Z",
        "size": 55792
      },
      {
        "file": "fonts/opensans/opensansextrabold.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:50.000Z",
        "size": 32324
      },
      {
        "file": "fonts/opensans/opensansextrabold.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:50.000Z",
        "size": 25148
      },
      {
        "file": "fonts/opensans/opensansextrabolditalic.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:50.000Z",
        "size": 59760
      },
      {
        "file": "fonts/opensans/opensansextrabolditalic.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:51.000Z",
        "size": 34776
      },
      {
        "file": "fonts/opensans/opensansextrabolditalic.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:51.000Z",
        "size": 26948
      },
      {
        "file": "fonts/opensans/opensansitalic.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:51.000Z",
        "size": 57568
      },
      {
        "file": "fonts/opensans/opensansitalic.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:52.000Z",
        "size": 35020
      },
      {
        "file": "fonts/opensans/opensansitalic.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:52.000Z",
        "size": 27416
      },
      {
        "file": "fonts/opensans/opensanslight.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:53.000Z",
        "size": 51592
      },
      {
        "file": "fonts/opensans/opensanslight.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:52.000Z",
        "size": 30708
      },
      {
        "file": "fonts/opensans/opensanslight.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:53.000Z",
        "size": 23936
      },
      {
        "file": "fonts/opensans/opensanslightitalic.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:55.000Z",
        "size": 56404
      },
      {
        "file": "fonts/opensans/opensanslightitalic.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:54.000Z",
        "size": 33720
      },
      {
        "file": "fonts/opensans/opensanslightitalic.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:54.000Z",
        "size": 26256
      },
      {
        "file": "fonts/opensans/opensanssemibold.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:54.000Z",
        "size": 53300
      },
      {
        "file": "fonts/opensans/opensanssemibold.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:55.000Z",
        "size": 32108
      },
      {
        "file": "fonts/opensans/opensanssemibold.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:56.000Z",
        "size": 25028
      },
      {
        "file": "fonts/opensans/opensanssemibolditalic.ttf",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:56.000Z",
        "size": 58676
      },
      {
        "file": "fonts/opensans/opensanssemibolditalic.woff",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:56.000Z",
        "size": 35360
      },
      {
        "file": "fonts/opensans/opensanssemibolditalic.woff2",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:57.000Z",
        "size": 27796
      },
      {
        "file": "footer.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:32.000Z",
        "size": 21
      },
      {
        "file": "functions.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:33.000Z",
        "size": 3881
      },
      {
        "file": "header.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:33.000Z",
        "size": 0
      },
      {
        "file": "img/Untitled-1.png",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:42.000Z",
        "size": 1173
      },
      {
        "file": "img/avatar.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:36.000Z",
        "size": 1461
      },
      {
        "file": "img/blog.jpg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:36.000Z",
        "size": 23279
      },
      {
        "file": "img/check-square.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:36.000Z",
        "size": 814
      },
      {
        "file": "img/close.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:37.000Z",
        "size": 1093
      },
      {
        "file": "img/envelope.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:37.000Z",
        "size": 1007
      },
      {
        "file": "img/fancybox/blank.gif",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:44.000Z",
        "size": 43
      },
      {
        "file": "img/fancybox/fancybox_loading.gif",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:44.000Z",
        "size": 6567
      },
      {
        "file": "img/fancybox/fancybox_loading@2x.gif",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:45.000Z",
        "size": 13984
      },
      {
        "file": "img/fancybox/fancybox_overlay.png",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:45.000Z",
        "size": 1003
      },
      {
        "file": "img/fancybox/fancybox_sprite.png",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:45.000Z",
        "size": 1362
      },
      {
        "file": "img/fancybox/fancybox_sprite@2x.png",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:46.000Z",
        "size": 6553
      },
      {
        "file": "img/header-bg.jpg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:37.000Z",
        "size": 238655
      },
      {
        "file": "img/logo-webber.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:38.000Z",
        "size": 2196
      },
      {
        "file": "img/logo.png",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:38.000Z",
        "size": 3598
      },
      {
        "file": "img/man.jpg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:37.000Z",
        "size": 60207
      },
      {
        "file": "img/pattern.png",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:38.000Z",
        "size": 1079
      },
      {
        "file": "img/phone-call.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:38.000Z",
        "size": 2150
      },
      {
        "file": "img/photo1.png",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:39.000Z",
        "size": 24407
      },
      {
        "file": "img/photo2.png",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:39.000Z",
        "size": 26178
      },
      {
        "file": "img/photo3.png",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:39.000Z",
        "size": 24879
      },
      {
        "file": "img/play-button.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:40.000Z",
        "size": 689
      },
      {
        "file": "img/portfolio-icon1-hover.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:40.000Z",
        "size": 411
      },
      {
        "file": "img/portfolio-icon1.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:40.000Z",
        "size": 408
      },
      {
        "file": "img/portfolio-icon2-hover.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:41.000Z",
        "size": 1945
      },
      {
        "file": "img/portfolio-icon2.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:41.000Z",
        "size": 1942
      },
      {
        "file": "img/portfolio-icon3-hover.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:41.000Z",
        "size": 853
      },
      {
        "file": "img/portfolio-icon3.svg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:41.000Z",
        "size": 850
      },
      {
        "file": "img/portfolio-img.jpg",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:42.000Z",
        "size": 27117
      },
      {
        "file": "img/portfolio.jpg",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:42.000Z",
        "size": 162011
      },
      {
        "file": "img/webber-black.svg",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:42.000Z",
        "size": 2196
      },
      {
        "file": "img/webber-gray.svg",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:43.000Z",
        "size": 1045
      },
      {
        "file": "img/webber-white.svg",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:43.000Z",
        "size": 2261
      },
      {
        "file": "img/width.svg",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:43.000Z",
        "size": 428
      },
      {
        "file": "img/zoom-in.svg",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:44.000Z",
        "size": 1112
      },
      {
        "file": "js/dist/jquery-2.2.3-dist.js",
        "ctime": "2016-11-16T05:45:52.000Z",
        "mtime": "2016-11-16T05:45:52.000Z",
        "size": 86072
      },
      {
        "file": "js/dist/jquery.fancybox-dist.js",
        "ctime": "2016-11-16T05:45:55.000Z",
        "mtime": "2016-11-16T05:45:55.000Z",
        "size": 22974
      },
      {
        "file": "js/dist/script-dist.js",
        "ctime": "2016-11-16T05:45:58.000Z",
        "mtime": "2016-11-16T05:45:58.000Z",
        "size": 2501
      },
      {
        "file": "js/dist/slick-dist.js",
        "ctime": "2016-11-16T05:46:01.000Z",
        "mtime": "2016-11-16T05:46:01.000Z",
        "size": 40046
      },
      {
        "file": "js/jquery-2.2.3.js",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:57.000Z",
        "size": 258648
      },
      {
        "file": "js/jquery.fancybox.js",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:58.000Z",
        "size": 48706
      },
      {
        "file": "js/min/jquery-2.2.3-min.js",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:59.000Z",
        "size": 86225
      },
      {
        "file": "js/min/jquery-2.2.3-min.js.map",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-04-10T09:19:48.000Z",
        "size": 129702
      },
      {
        "file": "js/min/jquery.fancybox-min.js",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:59.000Z",
        "size": 23037
      },
      {
        "file": "js/min/jquery.fancybox-min.js.map",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-04-10T09:19:48.000Z",
        "size": 30633
      },
      {
        "file": "js/min/script-min.js",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:48:00.000Z",
        "size": 2540
      },
      {
        "file": "js/min/script-min.js.map",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-14T14:41:30.000Z",
        "size": 2549
      },
      {
        "file": "js/min/slick-min.js",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:48:00.000Z",
        "size": 40096
      },
      {
        "file": "js/min/slick-min.js.map",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-14T08:01:26.000Z",
        "size": 46186
      },
      {
        "file": "js/script.js",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:58.000Z",
        "size": 3891
      },
      {
        "file": "js/slick.js",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:47:58.000Z",
        "size": 80202
      },
      {
        "file": "page.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:33.000Z",
        "size": 0
      },
      {
        "file": "prepros.cfg",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-14T16:04:22.000Z",
        "size": 72060
      },
      {
        "file": "screenshot.png",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:34.000Z",
        "size": 32762
      },
      {
        "file": "scss/global.scss",
        "ctime": "2016-11-16T05:39:55.000Z",
        "mtime": "2016-05-17T05:48:02.000Z",
        "size": 2122
      },
      {
        "file": "scss/src/_bootstrap.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:03.000Z",
        "size": 1567
      },
      {
        "file": "scss/src/_font.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:03.000Z",
        "size": 3582
      },
      {
        "file": "scss/src/_jquery.fancybox.scss",
        "ctime": "2016-11-16T05:39:55.000Z",
        "mtime": "2016-05-17T05:48:04.000Z",
        "size": 4991
      },
      {
        "file": "scss/src/_slick.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:04.000Z",
        "size": 1742
      },
      {
        "file": "scss/src/_var.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:04.000Z",
        "size": 33
      },
      {
        "file": "scss/src/_wordpress.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:05.000Z",
        "size": 785
      },
      {
        "file": "scss/src/bootstrap/_alerts.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:05.000Z",
        "size": 1550
      },
      {
        "file": "scss/src/bootstrap/_badges.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:06.000Z",
        "size": 1228
      },
      {
        "file": "scss/src/bootstrap/_breadcrumbs.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:06.000Z",
        "size": 700
      },
      {
        "file": "scss/src/bootstrap/_button-groups.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:06.000Z",
        "size": 5744
      },
      {
        "file": "scss/src/bootstrap/_buttons.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:07.000Z",
        "size": 3819
      },
      {
        "file": "scss/src/bootstrap/_carousel.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:07.000Z",
        "size": 5725
      },
      {
        "file": "scss/src/bootstrap/_close.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:08.000Z",
        "size": 815
      },
      {
        "file": "scss/src/bootstrap/_code.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:08.000Z",
        "size": 1401
      },
      {
        "file": "scss/src/bootstrap/_component-animations.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:09.000Z",
        "size": 819
      },
      {
        "file": "scss/src/bootstrap/_dropdowns.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:09.000Z",
        "size": 4889
      },
      {
        "file": "scss/src/bootstrap/_forms.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:10.000Z",
        "size": 16176
      },
      {
        "file": "scss/src/bootstrap/_glyphicons.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:10.000Z",
        "size": 20448
      },
      {
        "file": "scss/src/bootstrap/_grid.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:10.000Z",
        "size": 1443
      },
      {
        "file": "scss/src/bootstrap/_input-groups.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:11.000Z",
        "size": 4317
      },
      {
        "file": "scss/src/bootstrap/_jumbotron.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:11.000Z",
        "size": 1152
      },
      {
        "file": "scss/src/bootstrap/_labels.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:12.000Z",
        "size": 1156
      },
      {
        "file": "scss/src/bootstrap/_list-group.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:13.000Z",
        "size": 3172
      },
      {
        "file": "scss/src/bootstrap/_media.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:12.000Z",
        "size": 900
      },
      {
        "file": "scss/src/bootstrap/_mixins.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:13.000Z",
        "size": 986
      },
      {
        "file": "scss/src/bootstrap/_modals.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:13.000Z",
        "size": 3568
      },
      {
        "file": "scss/src/bootstrap/_navbar.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:14.000Z",
        "size": 14729
      },
      {
        "file": "scss/src/bootstrap/_navs.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:14.000Z",
        "size": 4950
      },
      {
        "file": "scss/src/bootstrap/_normalize.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:15.000Z",
        "size": 7532
      },
      {
        "file": "scss/src/bootstrap/_pager.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:15.000Z",
        "size": 855
      },
      {
        "file": "scss/src/bootstrap/_pagination.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:16.000Z",
        "size": 2091
      },
      {
        "file": "scss/src/bootstrap/_panels.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:16.000Z",
        "size": 6385
      },
      {
        "file": "scss/src/bootstrap/_popovers.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:17.000Z",
        "size": 3502
      },
      {
        "file": "scss/src/bootstrap/_print.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:17.000Z",
        "size": 1939
      },
      {
        "file": "scss/src/bootstrap/_progress-bars.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:18.000Z",
        "size": 1992
      },
      {
        "file": "scss/src/bootstrap/_responsive-embed.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:18.000Z",
        "size": 546
      },
      {
        "file": "scss/src/bootstrap/_responsive-utilities.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:18.000Z",
        "size": 4409
      },
      {
        "file": "scss/src/bootstrap/_scaffolding.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:19.000Z",
        "size": 3032
      },
      {
        "file": "scss/src/bootstrap/_tables.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:19.000Z",
        "size": 4662
      },
      {
        "file": "scss/src/bootstrap/_theme.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:20.000Z",
        "size": 8558
      },
      {
        "file": "scss/src/bootstrap/_thumbnails.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:20.000Z",
        "size": 892
      },
      {
        "file": "scss/src/bootstrap/_tooltip.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:21.000Z",
        "size": 3007
      },
      {
        "file": "scss/src/bootstrap/_type.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:21.000Z",
        "size": 6149
      },
      {
        "file": "scss/src/bootstrap/_utilities.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:22.000Z",
        "size": 765
      },
      {
        "file": "scss/src/bootstrap/_variables.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:22.000Z",
        "size": 31240
      },
      {
        "file": "scss/src/bootstrap/_wells.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:22.000Z",
        "size": 535
      },
      {
        "file": "scss/src/bootstrap/mixins/_alerts.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:23.000Z",
        "size": 263
      },
      {
        "file": "scss/src/bootstrap/mixins/_background-variant.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:23.000Z",
        "size": 233
      },
      {
        "file": "scss/src/bootstrap/mixins/_border-radius.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:24.000Z",
        "size": 492
      },
      {
        "file": "scss/src/bootstrap/mixins/_buttons.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:24.000Z",
        "size": 1453
      },
      {
        "file": "scss/src/bootstrap/mixins/_center-block.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:24.000Z",
        "size": 126
      },
      {
        "file": "scss/src/bootstrap/mixins/_clearfix.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:25.000Z",
        "size": 611
      },
      {
        "file": "scss/src/bootstrap/mixins/_forms.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:25.000Z",
        "size": 2771
      },
      {
        "file": "scss/src/bootstrap/mixins/_gradients.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:26.000Z",
        "size": 4392
      },
      {
        "file": "scss/src/bootstrap/mixins/_grid-framework.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:26.000Z",
        "size": 2360
      },
      {
        "file": "scss/src/bootstrap/mixins/_grid.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:27.000Z",
        "size": 3216
      },
      {
        "file": "scss/src/bootstrap/mixins/_hide-text.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:28.000Z",
        "size": 590
      },
      {
        "file": "scss/src/bootstrap/mixins/_image.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:27.000Z",
        "size": 1208
      },
      {
        "file": "scss/src/bootstrap/mixins/_labels.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:27.000Z",
        "size": 167
      },
      {
        "file": "scss/src/bootstrap/mixins/_list-group.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:28.000Z",
        "size": 672
      },
      {
        "file": "scss/src/bootstrap/mixins/_nav-divider.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:29.000Z",
        "size": 238
      },
      {
        "file": "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:29.000Z",
        "size": 370
      },
      {
        "file": "scss/src/bootstrap/mixins/_opacity.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:30.000Z",
        "size": 149
      },
      {
        "file": "scss/src/bootstrap/mixins/_pagination.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:29.000Z",
        "size": 507
      },
      {
        "file": "scss/src/bootstrap/mixins/_panels.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:30.000Z",
        "size": 543
      },
      {
        "file": "scss/src/bootstrap/mixins/_progress-bar.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:31.000Z",
        "size": 200
      },
      {
        "file": "scss/src/bootstrap/mixins/_reset-filter.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:31.000Z",
        "size": 246
      },
      {
        "file": "scss/src/bootstrap/mixins/_reset-text.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:31.000Z",
        "size": 476
      },
      {
        "file": "scss/src/bootstrap/mixins/_resize.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:32.000Z",
        "size": 202
      },
      {
        "file": "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:32.000Z",
        "size": 514
      },
      {
        "file": "scss/src/bootstrap/mixins/_size.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:33.000Z",
        "size": 147
      },
      {
        "file": "scss/src/bootstrap/mixins/_tab-focus.scss",
        "ctime": "2016-11-16T05:39:56.000Z",
        "mtime": "2016-05-17T05:48:33.000Z",
        "size": 165
      },
      {
        "file": "scss/src/bootstrap/mixins/_table-row.scss",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:48:34.000Z",
        "size": 715
      },
      {
        "file": "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:48:34.000Z",
        "size": 210
      },
      {
        "file": "scss/src/bootstrap/mixins/_text-overflow.scss",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:48:34.000Z",
        "size": 168
      },
      {
        "file": "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "ctime": "2016-11-16T05:39:57.000Z",
        "mtime": "2016-05-17T05:48:35.000Z",
        "size": 6645
      },
      {
        "file": "scss/style.scss",
        "ctime": "2016-11-16T07:07:09.000Z",
        "mtime": "2016-11-16T07:07:09.000Z",
        "size": 14625
      },
      {
        "file": "search.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:34.000Z",
        "size": 1591
      },
      {
        "file": "searchform.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:34.000Z",
        "size": 422
      },
      {
        "file": "sidebar.php",
        "ctime": "2016-11-16T05:39:59.000Z",
        "mtime": "2016-05-17T05:47:35.000Z",
        "size": 848
      },
      {
        "file": "single.php",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:35.000Z",
        "size": 0
      },
      {
        "file": "style.css",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:35.000Z",
        "size": 129
      },
      {
        "file": "tag.php",
        "ctime": "2016-11-16T05:39:58.000Z",
        "mtime": "2016-05-17T05:47:35.000Z",
        "size": 0
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"compiler-node-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"outputStyle\":\"compact\"}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 3 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"dist\"}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}